HHBA_BASE_URL=https://REPLACE_WITH_HHBA_PUBLIC_URL
HHBA_API_TOKEN=REPLACE_WITH_HHBA_API_TOKEN
HHBA_DEFAULT_LIMIT=5
OPENCLAW_PLUGIN_PATH=./plugins/hhba-openclaw
OPENCLAW_CONFIG_OUT=./generated/openclaw.hhba.config.jsonc
TELEGRAM_BOT_TOKEN=
TELEGRAM_DM_POLICY=open
TELEGRAM_REQUIRE_MENTION=false
HHBA_ENABLE_CREATE_TASK_SMOKE=false
